{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}
{% block content %}
{#    <div class="fs-1 mt-5 pt-5">#}
{#        Fastest Restaurants:#}
{#    </div>#}
    <div class="pt-5 mt-2 ">
    <section class="container pt-5 mt-5 ">
    <h1 class="fs-2 display-2--intro pt-5 p-5 ">Fastest Restaurants</h1><br><br>
    <div class="row text-center">
    {% for name, time in quickest.items() %}
    <div class="col-md-12 mb-6 ">
        <div class="card shadow-sm  p-3 btn-rounded rounded-pill">
            <p class="text-center fs-2 display-2--intro main-col "> &nbsp; {{ name }}</p>
            <p class="text-center fs-6 display-2--intro mt-1 " > &nbsp; is the fastest </p><br>
            <p class=" display-2--description mt-1"><i class="fas fa-crown other-col"></i>&nbsp;{{ time }}</p>
        </div>
        {% endfor %}
    <br>
    </div>
        {% for restaurant in restaurants_times %}
            {% for name, time in restaurant.items() %}
                <div class="col-sm-12  mb-6 mb-2 pt-3 p-4 ">
                    <div class="card shadow-sm p-3 btn-rounded rounded-pill ">
                        <p class="text-center fs-2 display-2--intro mt-2  ">{{ name }} !&nbsp;</p>
                        <p class="display-2--description mt-1 fas fa-shipping-fast other-col">&nbsp;{{ time }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</section>
    </div>
{% endblock %}